<div>
    <div class="section-6-container section-container section-container-image-bg" id="section-6">
        <div class="container">
            <div class="row">
                <div class="col section-6 section-description wow fadeIn">
                    
                    <h2>Contactos</h2>
                    <div class="divider-1 wow fadeInUp">
                        <span></span>
                    </div>
                    <!--DESCRIPCION DE CONTACTOS-->
                    <p>descricion</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 section-6-box wow fadeInUp">
                    
                    <div class="section-6-form">
                        <form role="form">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="sr-only" for="contact-subject">nombre</label>
                                    <input
                                        type="text"
                                        name="subject"
                                        placeholder="Nombre..."
                                        class="contact-subject form-control"
                                        id="contact-subject"
                                    >
                                </div>
                                <label class="sr-only" for="contact-email">Email</label>
                                <input
                                    type="text"
                                    name="email"
                                    placeholder="Email..."
                                    class="contact-email form-control"
                                    id="contact-email"
                                >
                            </div>
                           
                            <button type="submit" class="btn btn-primary btn-customized">
                                <i class="fas fa-paper-plane"></i>
                                Send
                            </button>
                        </form>
                    </div>
                </div>
              
            </div>
        </div>
    </div>

</div>