 <div>   
    <div class="top-content section-container" id="top-content">
        <div class="container">
            <div class="row">
                <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <!--//nombre de la pagian//-->
                    <h1 class="wow fadeIn" id="nombre">Trasportacol</h1>
                    <div class="description wow fadeInLeft">
                        <!--//descricion de la pagina//-->
                        <p id="descricion">
                       Lorem ipsum dolor sit amet co
                       nsectetur adipisicing elit. Beatae
                        provident, enim repellat maxime placeat 
                        necessitatibus minima corporis doloribus
                         laborum quidem delectus porro qui eum. 
                         Provident
                        in rerum voluptatum fuga tempora.

                        </p>
                    </div>
                    <!--botones de inicio-->
                    <div class="buttons wow fadeInUp">
                       
                        <!--boton de noticas-->
                        <a class="btn btn-primary btn-customized-2 scroll-link" href="#news" role="button">
                            <i class="bi bi-chat-dots"></i>
                            NOTICIAS
                        </a>
                        <!--boton de contactos-->
                        <a class="btn btn-primary btn-customized-2 scroll-link" href="#contactos" role="button">
                            <i class="bi bi-calendar3-event"></i>
                            CONTACTOS
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section 2 -->
    <div class="section-2-container section-container section-container-gray-bg" id="section-2">
        <div class="container">
            <div class="row">
                <div class="col section-2 section-description wow fadeIn"></div>
            </div>
            <div class="row">
                  
                <div class="col-4 section-2-box wow fadeInUp">
                    <img src="icon/icono-quienes-somos.png" alt="about-us">
                </div>
                <div class="col-8 section-2-box wow fadeInLeft">
                    <!--//Quines somos  //-->
                    <h3 id="quines">Quienes somos</h3>
                    <!--// texto de descripcion//-->
                    <p class="medium-paragraph" id="quines-text">
                        descricion descricion descricion descricion descricion 
                        descricion descricion descricion descricion 
                    </p>
                </div>
              
            </div>
        </div>
    </div>
    <!-- servivios -->
    <div class="section-3-container section-container" id="section-3">
        <div class="container">
            <div class="row">
                <div class="col section-3 section-description wow fadeIn">
                    <h2 id="servicios">Servicios</h2>
                    <div class="divider-1 wow fadeInUp">
                        <span>Servicios que ofrecemos</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 section-3-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                             <img src="icon/icono-ejecutivo.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3 id="servicio1">Ejecutivo</h3>
                            <p id="servicio1-text">Transportamos ejecutivos</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 section-3-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                                <img src="icon/icono-empresarial.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3 id="servicio2">Empresarial</h3>
                            <p id="servicio2-text">descricion</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 section-3-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                                <img src="icon/icono-escolar.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3 id="servicio3">Escolar</h3>
                            <p id="servicio3-text">descricion</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 section-3-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                                <img src="icon/icono-servicios-de-la-salud.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3 id="servicio4">Salud</h3>
                            <p id="servicio4-text">descricion</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 section-3-box wow fadeInLeft">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-3-box-icon">
                                <img src="icon/icono-turismo.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h3 id="servicio5">Turismo</h3>
                            <p id="servicio5-text">descricion</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
