<div>
    <div class="section-5-container section-container" id="section-5">
        <div class="container">
            <div class="row">
                <div class="col section-5 section-description wow fadeIn">
                    <h2>Portfolio</h2>
                    <div class="divider-1 wow fadeInUp">
                        <span></span>
                    </div>
                    <p>We have completed 486 projects since we started back in 2013. Check them out!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 section-5-box wow fadeInUp">
                    <div class="section-5-box-image">
                        <img src="assets/img/portfolio/1.jpg" alt="portfolio-1">
                    </div>
                    <h3>
                        <a href="#">Acme branding</a>
                        <i class="fas fa-angle-right"></i>
                    </h3>
                    <div class="section-5-box-date">
                        <i class="far fa-calendar"></i>
                        June 2019
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
                <div class="col-md-4 section-5-box wow fadeInDown">
                    <div class="section-5-box-image">
                        <img src="assets/img/portfolio/2.jpg" alt="portfolio-2">
                    </div>
                    <h3>
                        <a href="#">Created 150 flyers</a>
                        <i class="fas fa-angle-right"></i>
                    </h3>
                    <div class="section-5-box-date">
                        <i class="far fa-calendar"></i>
                        February 2019
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
                <div class="col-md-4 section-5-box wow fadeInUp">
                    <div class="section-5-box-image">
                        <img src="assets/img/portfolio/3.jpg" alt="portfolio-3">
                    </div>
                    <h3>
                        <a href="#">WordPress design</a>
                        <i class="fas fa-angle-right"></i>
                    </h3>
                    <div class="section-5-box-date">
                        <i class="far fa-calendar"></i>
                        November 2018
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
            </div>
            <div class="row">
                <div class="col section-bottom-button wow fadeInUp">
                    <a class="btn btn-primary btn-customized" href="#home" role="button">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>